<!-- begin header  -->

<header class="header">
    <div class="header__inner">
        <section class="header__item header__item--left">
            <a class="logo" href="/">
                <img class="logo__img" src="images/header/logo.png" alt="Logo">
            </a>
        </section>

        <section class="header__item header__item--right">
            <a class="header__phone roistat-phone-tel js-phone-wrap" href="tel:+74997042796"><span class="roistat-phone">8 (499) 704-27-96</span></a>
            <a class="header__mail js-email-link" href="mailto:sales5@metacrete.ru">sales5@metacrete.ru</a>
            <!--<a class="button button-application button-application&#45;&#45;top js-show-modal" href="#js-modal">-->
                <!--Оставить заявку-->
            <!--</a>-->
        </section>
    </div>
</header>

<!-- end header -->
