//BASE
@import 'base/common'
@import 'base/overlay'
@import 'base/modal-form'
@import 'base/main-form'

//Controls
@import 'controls/button-main-form'
@import 'controls/button-form'
//BAGS
@import 'blocks/bags'

//CALCULATOR
@import 'blocks/calculator'

//HEADER
@import 'blocks/common/header'
@import 'blocks/common/logo'

//MAIN-SCREEN
@import 'blocks/main-screen'

//FEATURES
//@import 'blocks/features'

//MAIN-FORM-BLOCK
@import 'blocks/main-form-block'

//KEY-OBJECTS
//@import 'blocks/key-objects'
//@import 'blocks/common/objects-galery'
//@import 'blocks/common/caption'

//CERTIFICATES
//@import 'blocks/certificates'
//@import 'base/slider'

//FOOTER
@import 'blocks/common/footer'

//MODAL
@import 'blocks/modal'
