<div class="bags">
    <div class="bags__item bags__item-1 js-bags hvr-grow js-show-modal" href="#js-modal1">
        <img class="bags__image" src="images/bags/bag-image1.png" alt="bags">
        <h2 class="bags__title">Grand 15 L</h2>
    </div>
    <div class="bags__item bags__item-2 js-bags hvr-grow js-show-modal" href="#js-modal1">
        <img class="bags__image" src="images/bags/bag-image2.png" alt="bags">
        <h2 class="bags__title">Anker 55</h2>
    </div>
    <div class="bags__item bags__item-3 js-bags hvr-grow js-show-modal" href="#js-modal1">
        <img class="bags__image" src="images/bags/bag-image3.png" alt="bags">
        <h2 class="bags__title">Grand 15 T</h2>
    </div>
    <div class="bags__item bags__item-4 js-bags hvr-grow js-show-modal" href="#js-modal1">
        <img class="bags__image" src="images/bags/bag-image4.png" alt="bags">
        <h2 class="bags__title">Grand 56 LF</h2>
    </div>
    <div class="bags__item bags__item-5 js-bags hvr-grow js-show-modal" href="#js-modal1">
        <img class="bags__image" src="images/bags/bag-image5.png" alt="bags">
        <h2 class="bags__title">Anticor AD</h2>
    </div>

</div>