<div class="calculator__block">
    <div class="calculator">
        <h2 class="calculator__title-main">ПОСЧИТАЙТЕ ВАШУ ВЫГОДУ ПРИ ЗАКУПКЕ АНАЛОГА <span id="js-calculator__title-analog"></span></h2>
        <div class="calculator__wrapper">
            <label>Средняя цена на <span id="js-nameTitle"></span> в руб. за кг.</label>
            <div class="calculator__input-wrapper">
                <button type="button" class="but counterBut dec buttonMin">-</button>
                <input type="number" min="0" id="js-calculatorQuantity" class="calculator__input field fieldCount" value="">
                <button type="button" class="but counterBut inc buttonMax">+</button>
            </div>
            <label>Вес тонн</label>

            <div class="calculator__input-wrapper">
                <button type="button" class="but counterBut dec buttonMin">-</button>
                <input type="number" min="0" id="js-calculatorWeight" class="calculator__input field fieldCount" value="20">
                <button type="button" class="but counterBut inc buttonMax">+</button>
            </div>
            <!--<span id="js-sum-calc" class="calculator__title"></span>-->
            <!--<span id="js-priceAnalog" class="calculator__title"></span>-->
            <p id="" class="calculator__title">Экономия на закупке аналога <span id="js-nameTitleBottom"></span>:
                <span id="js-difference" class="calculator__total"></span>
            </p>

        </div>
    </div>
</div>