.calculator
  margin-top 10px
  color #000


  &__title-main
    font-weight 400
    font-size 28px
    color #000
    text-align center
    margin 20px auto 0 auto
    max-width 90%

  &__total
    color #ead100
    padding 5px 10px
    background-color #000
    font-size 30px
    display inline-block

  &__wrapper
    margin 0 auto
    padding 0 25px
    & label
      display block
      text-align center
      font-size 20px
      font-weight 400

  &__title
    display block
    text-align center
    font-size 25px
    font-weight 500

  &__input
    overflow hidden
    width 100%
    min-height 40px
    font-size 25px
    text-align center
    margin 8px auto 8px auto
    display block
    color #f2e000
    background-color #000
    border none
    &:focus
      outline none

  &__input-wrapper
    width 50%
    margin 0 auto
    position relative
    .but
      position absolute
      top 4px
      background none
      color rgba(241, 217, 0, 0.6)
      font-weight 400
      border none
      font-size 25px
      &:hover
        cursor pointer
        color rgb(241, 217, 1)
      &:focus
        outline none
    .buttonMin
      left 3px
    .buttonMax
      right 3px


  &__block
    float right
    width 48%
    background-color rgb(241, 220, 0)
    min-height 350px
    margin-right 40px
    background url(../images/main-form-input-phone.jpg)
    background-size contain
    outline 3px solid rgba(0, 0, 0, 0.8)
    outline-offset -15px
    @media only screen and (min-device-width 481px) and (max-device-width: 1024px) and (orientation:portrait)
      display none
    @media only screen and (min-device-width 481px) and (max-device-width: 1024px) and (orientation:landscape)
      display none
    @media  (max-height: 768px) and (max-width : 1024px)
      display none
    @media (max-width: 1100px)
      margin-right  0
    @media (max-width: 1175px)
      min-height 385px
    @media (max-width: 1050px)
      min-height 440px