.button-form
  width 100%
  max-width 330px
  margin 10px auto 0  auto
  display block
  color #000
  font-size 20px
  border 2px solid rgba(0,0,0,0.82)
  outline none
  background url(../images/main-form-input-phone.jpg) no-repeat
  background-size cover
  padding 10px 10px
  font-weight 500
  font-family 'Roboto', sans-serif
  @media (max-width: 414px)
    width 230px

  &:hover
    cursor pointer
    box-shadow inset 0px 0px 10px rgba(0,0,0,0.5)
    -webkit-transition-property background
    -webkit-transition-duration 0.2s
    -webkit-transition-timing-function ease