body
  //font-family 'PT Sans', sans-serif
  font-family: 'Roboto', sans-serif
  font-weight 300
  font-size 16px
  color #fff
  margin 0
  min-width 280px


img
  border-style none
  max-width 100%
  height auto
  vertical-align middle

h1,h2,h3,h4,p
  margin 0
  padding 0

input[type='number'] {
  -moz-appearance textfield
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance none
  margin 0
}
