.footer
  width 100%
  background url(../images/footer-bg.png) no-repeat
  background-size cover
  display inline-block
  position absolute
  bottom 0
  @media  (max-height: 768px) and (max-width : 1024px)
    display none

  &__inner
    max-width 1200px
    margin 0 auto

  &__block-left
    float left

  &__block-right
    float right

  &__phone
    color #ffc200
    text-decoration none
    font-size 22px
    margin 20px 0px 5px 0
    display inline-block

  &__mail
    color #fff
    text-decoration none
    font-size 22px

  &__ur-info
    color #fff
    font-size 13px
    margin 10px 0
    display inline-block
